    <div id="map"></div>
<section class="main">
    <div id="app"></div>
    <% @pollution_events.each do |event| %>
    <div class="blue column">
      <h4><%= link_to "#{event.name}", pollution_event_path(event.id) %><h4>
    </div>
    <% end %>
    <div class="wrap row">
      <h4>This is where Google maps should go</h4>
  </div>

</section>
