<% if user_signed_in? %>
  <%= render 'event_form' %>
<% end %>

  <div id="map" ></div>


<section class="main">
    <div id="app"></div>
    <% @pollution_events.each do |event| %>
    <div class="blue column">
      <h4><%= link_to "#{event.title}", pollution_event_path(event.id) %><h4>
    </div>
    <% end %>
</section>
<script>
drawMap();
</script>
