<div class='map-holder'>
  <div class="list-canvas-trigger">
    <a href='#step-4' id='canvas-list' class='icon paint button quiet float-right'>
      Recent Events
    </a>
    <div id='step-4' class='row16 col3 pad2 fill-darken3 pin-left offcanvas-left animate'>
      <a href='#' class='fill-darken0 pad1 icon close'></a>
      <% @pollution_events.each do |event| %>
      <div class="pad1y pad2x keyline-bottom">
        <%= link_to "#{event.title}", pollution_event_path(event.id) %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render 'pollution_events/event_form' %>

  <div id='map'></div>
</div>
<script>
  addMarkerLayer();
</script>
