// @import "*";
@import "foundation_and_overrides";

// Load Screen

// TOP BAR


.top-bar {
  position: relative;
  background-color: #0A0D0F;
  height: 80px;
  padding: 0;
  opacity: .8;
  z-index: 3;
}

.site-logo {
  font-family: Helvetica, Arial, serif;
  font-weight: 400;
  color: white;
  line-height: 80px;
}

.top-bar-right ul {
  background-color: #0A0D0F;
  line-height: 80px;
}

.menu > li > a {
  color: white;
  display: inline-block;
}

a:link, a:visited, a:hover, a:active {
  color: #fefefe;
}

// INDEX
.flash {
  z-index: 3;
  color: white;
}

.unhappy {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button.update.fill-lighten0 {
  margin-bottom: 0;
  background-color: #223b53;
}

.button.update.fill-lighten0:hover,
.button.update.fill-lighten0:focus {
    background-color: #50667f;
}

.button.fill-lighten0 {
  margin-bottom: 0;
  background-color: #223b53;
}

.button.fill-lighten0:hover,
.button.fill-lighten0:focus {
    background-color: #50667f;
}

.button.float-right {
  background-color: #0A0D0F;
  opacity: .8;
  top: 24px;
  margin: 0px;
  width: 120px;
  right: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

#user_current_password {
  margin-bottom: 1rem;
}

.button.add.float-right {
  background-color: #0A0D0F;
  opacity: .8;
  left: 90px;
  top: 70px;
  margin: 0px;
  width: 120px;
  padding-left: 0px;
  padding-right: 0px;
}

#trigger-1 {
  z-index: 2;
  top: 100px;
}

.reveal {
  background-color: #0A0D0F;
  opacity: .8;
}

#pollution_event_title {
  opacity: 1;
}

#pollution_event_description {
  opacity: 1;
  background-color: #FEFEFE;
}

.button.fill-lighten0 {
  background-color: 6F6F6F;
}
// LIST
.list-canvas-trigger {
  position: relative;
  z-index: 2;
  height: 100%;
}

.list.row10 {
  overflow-y: scroll;
  overflow-x: hidden;
}
.list.row10::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
.list.row10::-webkit-scrollbar-track {
  background:none;
}
.list.row10::-webkit-scrollbar-thumb {
  background:#FEFEFE;
  border-radius:0;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  max-width: none;
  z-index: 1;
}


.show-canvas-trigger {
  position: relative;
  z-index: 2;
  height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#0A0D0F;
  color:#fff;
  font-family: 'Metrophobic', Arial, serif;
  font-size:16px;
  line-height:24px;
  opacity: .8;
  }

.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

a#canvas-show.button.quiet {
  padding-left: 10px;
  text-align: center;
  opacity: 1;
}


p.pop-description {
  font-family: 'Metrophobic', Arial, serif;
  text-align: center;
  color: #FEFEFE;
}

.note.contain {
  opacity: .8;
}

// NEW FORM

#step-3 {
  top: 30%;
}

.form-canvas-trigger {
  position: relative;
  z-index: 2;
  height: 100%;
}

.button.secondary.form {
  background-color: #0A0D0F;
  border: 1px;
  border-color: #FEFEFE;
}

#new-map {
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  max-width: none;
  z-index: 1;
}
