// @import "*";
@import "foundation_and_overrides";
// TOP BAR


.top-bar {
  position: relative;
  background-color: #0A0D0F;
  height: 80px;
  padding: 0;
  opacity: .8;
  z-index: 3;
}

.site-logo {
  color: white;
  line-height: 80px;
}

.top-bar-right ul {
  background-color: #0A0D0F;
  line-height: 80px;
}

.menu > li > a {
  color: white;
  display: inline-block;
}

a:link, a:visited, a:hover, a:active {
  color: #fefefe;
}

// INDEX
.flash {
  z-index: 3;
  color: white;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  max-width: none;
  z-index: 1;
}

.list-canvas-trigger {
  position: relative;
  z-index: 2;
  height: 100%;
}

// NEW FORM

#step-3 {
  top: 30%;
}

.form-canvas-trigger {
  position: relative;
  z-index: 2;
  height: 100%;
}

#new-map {
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  max-width: none;
  z-index: 1;
}
